.user-cars-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
  }
  
  .car-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .car-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: white;
    max-width: 300px;
  }
  
  .car-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .car-image-1 {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 5px;
  }
  
  .no-cars-message {
    padding: 20px;
    color: red;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  